#Theoretical Questions
---

1. What are data structures, and why are they important?

Ans:Data structures in Python are fundamental ways of organizing and storing data to enable efficient access and manipulation.
They are important because they help manage collections of data,
perform operations like searching and sorting, and are crucial for writing optimized and readable code.

2. Explain the difference between mutable and immutable datatypes with examples.

Ans: Mutable data types are those whose values can be changed after they are created, while immutable data types cannot be altered once they are created. Examples of mutable data types include lists and dictionaries, while examples of immutable data types include strings and tuples.

Mutable Data Types:
Definition: Mutable data types allow modifications to their values after they are created. Changes are made directly to the object itself, without creating a new one.
Examples in Python: Lists, dictionaries, and sets are all mutable.

In [ ]:
    #Illustrative Example
my_list = [1, 2, 3]
my_list[0] = 4  # Modifying the first element
print(my_list)  # Output: [4, 2, 3]

[4, 2, 3]

Immutable Data Types:
Definition: Immutable data types do not allow changes to their values once created. Any attempt to modify them results in creating a new object.
Examples in Python: Strings, tuples, and numbers (integers, floats, etc.) are immutable.

In [ ]:
my_name = "Bijay"
my_name[0] = "S"  # This will raise an error because strings are immutable

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

Ans:In Python, the main difference between lists and tuples is that lists are mutable, while tuples are immutable. This means that lists can be changed after creation, but tuples cannot.

#Differences->

(i). Mutability:

Lists:
Lists can be modified after they are created. You can add, remove, or change elements.

Tuples:
Tuples cannot be modified after they are created. Their elements cannot be changed, added, or removed.

(ii). Syntax:

Lists: Defined using square brackets: my_list = [1, 2, 3].

Tuples: Defined using parentheses: my_tuple = (1, 2, 3).

(iii). Memory Efficiency:

Tuples: Tuples are typically more memory-efficient than lists.

Lists: Lists require more memory due to their mutability and the need to track changes.

(iv). Use Cases:

Lists:
Use lists when you need a dynamic collection of items that can be frequently modified.

Tuples:
Use tuples when you need to store a fixed collection of items that will not change during program execution. For example, you might use a tuple to represent a geographic coordinate (latitude, longitude).

(v). Other Notable Differences:
Iteration:
Tuples can be iterated over directly, while lists require the use of a for loop.
Nested Structures:
Tuples can be nested within other tuples, while lists cannot be nested within other lists.
Hashable:
Tuples are hashable, meaning they can be used as keys in dictionaries, while lists are not.

4. Describe how dictionaries store data.

Ans: Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [ ]:
#Examples:
#empty dictionary->

emp_dict ={}

#dictionary with value

dict = {"d1:d2", "a1:b1"}

In [ ]:
emp_dict

{}

In [ ]:
dict

{'a1:b1', 'd1:d2'}

5. Why might you use a set instead of a list in Python?

Ans:Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list?

Ans:A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything an integer, a float, a string, etc.

7. How do tuples ensure data integrity in Python?

Ans:Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, which ensures data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8.What is a hash table, and how does it relate to dictionaries in Python?

Ans:A hash table is a data structure that uses a hash function to map keys to values, allowing for efficient storage and retrieval of data.Dictionaries are essentially implementations of hash tables. This means that Python dictionaries leverage hashing to store and retrieve key-value pairs quickly.

9. Can lists contain different data types in Python?

Ans:Lists can contain heterogeneous data types and objects. For example, integers, strings,booleans,floats,complex numbers and even functions can be stored within the same list.

In [ ]:
#For Example:
my_list = [1,3.5,False,"abc",(3+5j)]

In [ ]:
my_list

[1, 3.5, False, 'abc', (3+5j)]

10.Explain why strings are immutable in Python?

Ans:Python strings are (Immutable) which means they cannot be changed after they are created.Since strings can't be changed, we construct a new strings to represent new values.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans:The list allows duplicate items, while the dictionary does not allow any duplicate keys. A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans:Tuple can be used to store confidential data like Phone Numbers,Address,Aadhar Number,etc.As Tuples are Immutable(Unchangeable) other user cannot edit or replace Primary Data.

Whereas, List are Mutable(Changeable). Below is an example to illustrate the difference between both.

In [ ]:
#Tuples
details = ("phone number","Aadhar Number","Address")

In [ ]:
details

('phone number', 'Aadhar Number', 'Address')

In [ ]:
details[1] ="Pan Number" #This will show an error as Tuples are Immutable and cannot be changed or replaced once created.

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Lists
my_list = ["phone number","Aadhar Number","Address"]

In [ ]:
my_list

['phone number', 'Aadhar Number', 'Address']

In [ ]:
my_list[1] = ("Pan Card")

In [ ]:
my_list #This will not show an error as Lists are Mutable and can be changed or replaced as many times as user wants.

['phone number', 'Pan Card', 'Address']

13. How do sets handle duplicate values in Python?

Ans:It's an unordered collection of unique elements, meaning it cannot contain any duplicate items. When you add elements to a set, Python automatically removes any duplicates. This makes it a perfect choice for scenarios where you need to store a collection of items while ensuring uniqueness.

In [ ]:
#For Example:
set={1,1,1,2,3,4} #Input

In [ ]:
set #Output

{1, 2, 3, 4}

14. How does the “in” keyword work differently for lists and dictionaries?

Ans:In Lists (in) can be used to check both elements and indexation but in Dictionary (in) can only be used to check the keys.

In [ ]:
#For Example:
#Lists

my_list = [1, 2, 3, 4]

print(2 in my_list)   # True

True

In [ ]:
print(5 in my_list)   # False

False

In [ ]:
#Dictionaries:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}

print("banana" in my_dict)     # True (key exists)

True

In [ ]:
print(2 in my_dict)            # False (2 is a value, not a key)

False

In [ ]:
print(2 in my_dict.values())   # 2 exists in dictionary so, output will be shown as True

True

15. Can you modify the elements of a tuple? Explain why or why not?

Ans: No,because Tuples are Immutable, which means once a tuple is created, it's contents cannot be changed no elements can be added,modified or removed.

In [ ]:
details = ("phone number","Aadhar Number","Address")

In [ ]:
details[1] ="Pan Number" #This will raise an error as Tuples are Immutable and cannot be changed or replaced once created.

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?

Ans: A nested dictionary is a dictionary inside another dictionary. It allows you to structure more complex data like objects with details in a clear, organized way.

In [ ]:
#For Example:
#Student Details:

students = {"Ajay": {"age": 28, "subject": "Pure Science"},
    "Boby": {"age": 21, "subject": "Commerce"},
    "Charu": {"age": 20, "subject": "Arts"}}

In [ ]:
print(students["Ajay"]["subject"])

Pure Science

17.Describe the time complexity of accessing elements in a dictionary.

Ans: The time complexity of searching for a value in a dictionary is usually O(1), which means that it takes a constant amount of time to search for a value in a dictionary, regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?

Ans: Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.
Lists can contain duplicate values but Dictionaries cannot.Slicing is possible for lists but slicing is not possible for dictionaries.Lists is used when data is dynamic or of different sets but dictionaries are used for large scale data lookup.

 19. Why are dictionaries considered unordered, and how does that affect data retrieval

Ans: In earlier versions of Python, dictionaries were considered unordered collections since it could not be assumed that items would be maintained in any specific order. This was especially the case with versions prior to Python 3.7, because its internal implementation did not uphold the order for the arrangement of keys.

In [ ]:
#For Example:
dict = {"India:Delhi","Australia:Sydney,Europe:England"} #input

In [ ]:
dict #output result

{'Australia:Sydney,Europe:England', 'India:Delhi'}

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:The main difference between a list and a dictionary in terms of data retrieval, is how you access the stored data:

List:
 >A list is an ordered collection of items.
 >Data is retrieved using an index.

Dictionary:
 >A dictionary is an unordered collection of key-value pairs.
 >Data is retrieved using a key, not an index.

In [ ]:
#Example list
my_list = [100,500,"bijay","abc"]
print(my_list[2]) # output: bijay

In [ ]:
#Example Dictionary
my_dict = {'fruit1': 'apple', 'fruit2': 'banana'}
print(my_dict['fruit2'])  # Output: banana

#Practical Questions
---

In [ ]:
#1.Write a code to create a string with your name and print it.
name = "Bijay"
print(name)

Bijay

In [ ]:
#2.Write a code to find the length of the string "Hello World".
str = "Hello World"
len(str)

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
a = "Python Programming"
a[0:3]

'Pyt'

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.
str = "hello"
print(str.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
fruit = "I like apple"
print(fruit.replace("apple", "orange"))

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list1 = [1,2,3,4]
my_list1.append(10)
print(my_list1)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list.remove(3)

In [ ]:
print(my_list)

[1, 2, 4, 5]

In [ ]:
#another way to remove the element
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list.pop(2)

3

In [ ]:
print(my_list)

[1, 2, 4, 5]

In [1]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list)

['a', 'b', 'c', 'd']

In [2]:
my_list[2]

'c'

In [ ]:
#10.Write a code to reverse the list[10,20,30,40,50].
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1 = (100, 200, 300)
print(t1)

(100, 200, 300)

In [4]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup_1 = (10, 20, 5, 15)
minimum = min(tup_1)
print(minimum)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t1 = ('dog', 'cat', 'rabbit')
print(t1.index("cat"))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits_basket = ("mango", "banana", "kiwi", "apple", "guava")
if "kiwi" in (fruits_basket):
  print("yes kiwi is in the basket")
else:
  print("No kiwi is not in the basket")

yes kiwi is in the basket

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(type(my_set))

<class 'set'>

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set_1 = {1, 2, 3, 4}
set_1.remove(4)
print(set_1)

{1, 2, 3}

In [ ]:
 #19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

set_1.union(set_2)

{1, 2, 3, 4, 5}

In [ ]:
# Another way to do this

set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

set_1|set_2

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1 & set2

{2, 3}

In [ ]:
# Another way to do this

set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1.intersection(set2)

{2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name":"Bijay","age":"22","city":"kolkata"}
print(my_dict)

{'name': 'Bijay', 'age': '22', 'city': 'kolkata'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

dict_1 = {'name': 'John', 'age': 25}
dict_1["country"] = "USA"
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary

dict1 = {'name': 'Alice', 'age': 30}
value_dict1 = dict1["name"]
print(value_dict1)

Alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict2["age"]
print(dict2)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#another way to do that

dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict2.pop("age",None)
print(dict2)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list, a tuple, and a dictionary
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'mango')
my_dict = {'name': 'John', 'age': 25}

# Print all the data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'mango')
Dictionary: {'name': 'John', 'age': 25}

In [ ]:
#27.. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

list10 = [7,76,99,45,22]
list10.sort()
print("sorted list: ", list10)

sorted list:  [7, 22, 45, 76, 99]

In [ ]:
#28.. Write a code to create a list with strings and print the element at the third index.

list11 = ["apple", "mango", "banana", "guava","cherry"]
print("element at third index: ",list11[3])

element at third index:  guava

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

# Combine two dictionaries into one and print the result
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [ ]:
#another way to do that:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

print("Combined Dictionary: ",dict1|dict2)

combined Dictionary:  {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [ ]:
#30. Write a code to convert a list of strings into a set.

Fruits_list = ["apple", "banana", "mango", "apple", "guava", "mango", "cherry","cherry"]
Fruits_set =set(Fruits_list)
print(Fruits_set)

{'banana', 'mango', 'apple', 'guava', 'cherry'}